@import '../../../scss/variables.scss';
@import '../../../scss/extend.scss';

.select-field {
	margin-bottom: 10px;
	&__desc {
		padding-bottom: 5px;
		color: $color-persian-green;
		font-size: $base-font-size;
	}
	&__select {
		position: relative;	
	}
	&__value {
		width: 100%;
		outline: none;
		color: $color-black;
		background: $color-white;
		border: 1px solid $color-grey;
		border-radius: $base-border-radius;
		padding: 10px;
		font-size: $base-font-size;
		cursor: pointer;
		-webkit-appearance: none;
		   -moz-appearance: radio-container;
		        appearance: none;
		&:-moz-focusring {
	    	color: transparent;
			text-shadow: 0 0 0 #000;
		}
	}
	&__arrow {
		position: absolute;
		right: 0;
		padding: 11px 10px;
		font-size: 1.6rem;
		pointer-events: none;
	}
}