@import '../../../scss/variables.scss';
@import '../../../scss/extend.scss';

.icon {
	float: left;
	padding: 10px;
	font-size: 1.8rem;
	color: $color-black;
	&:hover {
		color: $color-highlight;
		cursor: pointer;
	}
}