@import '../../../scss/variables.scss';
@import '../../../scss/extend.scss';

.input-field {
	margin-bottom: 10px;
	&__desc {
		padding-bottom: 5px;
		color: $color-persian-green;
		font-size: $base-font-size;
	}
	&__input {
		width: 100%;
		background: $color-white;
		border: 1px solid $color-grey;
		border-radius: $base-border-radius;
		cursor: text;
	}
}