@import '../../scss/variables.scss';
@import '../../scss/extend.scss';

.preview {
	padding: 10px;
	background: #eee;
	&__frame {
		background: $color-white;
		&--120x600 {
			width: 120px;
			height: 600px;
		}
		&--160x600 {
			width: 160px;
			height: 600px;
		}
		&--300x600 {
			width: 300px;
			height: 600px;
		}
		&--300x250 {
			width: 300px;
			height: 250px;
		}
		&--250x250 {
			width: 250px;
			height: 250px;
		}
		&--200x200 {
			width: 200px;
			height: 200px;
		}
		&--970x250 {
			width: 970px;
			height: 250px;
		}
		&--728x90 {
			width: 728px;
			height: 90px;
		}
		&--468x60 {
			width: 468px;
			height: 60px;
		}
		iframe {
			width: 100%;
			height: 100%;
			border: 0;
		}
	}
}